# =========================
# Java / Spring Boot
# =========================
*.class
*.jar
*.war
*.nar
*.ear

# Maven
backend/target/
**/target/

# Maven logs / reports
*.log

# Java crash logs
hs_err_pid*
replay_pid*

# =========================
# Frontend / Node
# =========================
front_end/node_modules/
front_end/dist/

# Node logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Environment / Secrets
# =========================
.env
.env.*
**/.env
**/.env.*

# =========================
# IDE
# =========================
.vscode/*
!.vscode/settings.json

.idea/
*.iml

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Temporary / Backup files
# =========================
*.tmp
*.bak
*.swp
*~
